{% block menuutenza %}
<li class="nav-parent">
    <a>
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Gestione utenza</span>
    </a>
    <ul class="nav nav-children">
        <li>
            <a href="pages-signup.html">
                 Il tuo profilo
            </a>
        </li>
        <li>
            <a href="pages-signup.html">
                 Modifica formazione
            </a>
        </li>
        <li>
            <a href="pages-signup.html">
                 Visualizza giornata corrente
            </a>
        </li>
        {% if request.session.profilo == 'Championship Admin'%}
                                            
        {% endif %}

        {% if request.session.profilo == 'League Admin'%}
        
        {% endif %}
    </ul>
</li>
{% endblock %}