{% block menuutenza %}
<li class="nav-parent">
    <a>
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Gestione utenza</span>
    </a>
    <ul class="nav nav-children">
        <li>
            <a href="">
                 Il tuo profilo
            </a>
        </li>
        {% if request.session.profilo == 'Championship Admin'%}
        <li>
            <a href="">
                 Visualizza utenti campionato
            </a>
        </li>
        <li>
            <a href="{% url 'gestioneutenza:crea_invito' %}">
                 Invita utente
            </a>
        </li>                          
        {% endif %}

        {% if request.session.profilo == 'League Admin'%}
        <li>
            <a href="{% url 'gestioneutenza:list_utenti' %}">
                 Visualizza utenti piattaforma
            </a>
        </li>   
        {% endif %}
    </ul>
</li>
{% endblock %}