{% block menucampionato %}
<li class="nav-parent">
    <a>
        <i class="fa fa-trophy" aria-hidden="true"></i>
        <span>Gestione campionato</span>
    </a>
    <ul class="nav nav-children">
        <li>
            <a href="{% url 'gestionecampionato:seleziona_modulo' %}">
                 Inserisci/modifica formazione
            </a>
        </li>
        <li>
            <a href="{% url 'gestionecampionato:visualizza_calendario' %}">
                 Visualizza calendario scontri
            </a>
        </li>
        {% if request.session.profilo == 'Allenatore' %}
        <li>
            <a href="{% url 'gestionecampionato:visualizza_partita' request.session.giornata_corrente %}">
                 Visualizza partita corrente
            </a>
        </li>
        {% endif %}
        {% if request.session.profilo == 'Championship Admin' and request.session.campionato_id %}
        <li>
            <a href="{% url 'gestionecampionato:modifica_campionato' request.session.campionato_id %}">
                 Modifica nome campionato
            </a>
        </li>  
        {% endif %}

        {% if request.session.profilo == 'League Admin'%}
        
        {% endif %}
    </ul>
</li>
{% endblock %} 