{% block sidebar %}
				<aside id="sidebar-left" class="sidebar-left">
				
					<div class="sidebar-header">
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>
				
					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">
									<li class="nav-active">
										<a href="{% url 'dashboard_index' %}">
											<i class="fa fa-home" aria-hidden="true"></i>
											<span>Dashboard</span>
										</a>
									</li>
									{% if request.session.profilo %}
									<!-- Gestione Squadra -->
									{% block menusquadra %} 
										{% include 'front/includes/base/menu-squadra.html' %}
									{% endblock %}
									<!-- END gestione squadra-->

									<!-- Gestione campionato -->
									{% block menucampionato %}
										{% include 'front/includes/base/menu-campionato.html' %}
									{% endblock %}
									<!-- END gestione campionato-->

									<!-- Gestione utenza (CA/LA) -->
									{% block menuutenza %}
										{% include 'front/includes/base/menu-utenza.html' %}
									{% endblock %}
									<!-- END gestione utenza-->
									{% endif %}
								</ul>
							</nav>
						</div>
					</div>
				</aside>
{% endblock %}