<!DOCTYPE html>
{% load static %}
<html lang="en">

{% include 'core/includes/head.html' %}


    <div class="hero overlay" style="background-image: url('{% static 'sc-assets/images/bg_3.jpg' %}');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 ml-auto">
            <h1 class="text-white">Benvenuto su BiaSet, {% if request.user.is_authenticated %}{{ request.user.first_name }}{% endif %}</h1>
            <p>Il portale di gestione del Fantacalcio preferito dai PRO.</p>
            <p>
                {% if not request.user.is_authenticated %}
              <a href="{% url 'gestioneutenza:login_view' %}" } class="btn btn-primary py-3 px-4 mr-3">Accesso/registrazione</a>
              <a href="{% url 'regolamento' %}" class="more light">Regolamento</a>
                {% elif request.user.is_authenticated %}
              <a href="{% url 'dashboard_index' %}" class="btn btn-success py-3 px-4 mr-3">Accedi alla dashboard</a>
                {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>

      {% include 'core/includes/footer.html' %}

  </div>
</body>

</html>