
{% extends 'front/base.html' %}

{% block content %}
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Creazione invito</h2>
    </header>
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">   
                        <h2 class="panel-title">Crea invito</h2>
                    </header>
                    <div class="panel-body">
                        <form class="form-horizontal form-bordered" action="" method="post">
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

                            {% csrf_token %}
                            {{ form.media }}
                            {{ form.destinatario.errors }}
                            {{form.non_field_errors}}
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputDefault" required>Destinatario</label>
                                <div class="col-md-6">
                                    {{ form.destinatario }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="inputDefault" required>Data scadenza invito (mm-gg-aaaa)</label>
                                <div class="col-md-6">
                                    <input type="text" data-plugin-datepicker="" id="{{ form.expire_dt.id_for_label }}" name="{{ form.expire_dt.name }}"
                                     class="form-control">
                                </div>
                            </div>
                            <input type="hidden" name="{{ form.user.name }}" value="{{ request.user.id }}">
        
                        
                    </div>
                    <footer class="panel-footer">
                        <input type="submit" id="submit" value="Crea invito" class="btn btn-primary"></button>
                    </footer>
                </form>
                </section>
</section>

{% endblock %}
