{% extends "front/base.html" %}

{% block content %}
<div class=""
    <h2>Utenti</h2>
    <ul>
        {% for publisher in object_list %}
            <li>{{ publisher.name }}</li>
        {% endfor %}
    </ul>
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Lista utenti</h2>
        </header>
            <div class="row">
                <div class="col-md-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <h2 class="panel-title">Utenti</h2>
                        </header>
                        <div class="panel-body">
                            <p>Di seguito una lista degli utenti iscritti alla piattaforma</p>
                            <div class="col-md-6">
                                <div class="table-responsive">
                                <table class="table table-hover mb-none">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Cognome</th>
                                            <th>Campionato</th>
                                            <th>Squadra</th>
                                            <th>Cancella</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for utente in object_list %}
                                        <tr>
                                            <td>{{ utente.id }}</td>
                                            <td>{{ utente.first_name }}</td>
                                            <td>{{ utente.last_name }}</td>
                                            <td>{{ utente.squadra.campionato }}</td>
                                            <td>{{ utente.squadra.nome }}</td>
                                            <td></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}