{% extends 'front/base.html' %}

{% block content %}

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Inserisci fattura</h2>
					</header>
					<!-- start: page -->
						<div class="row">
						<div class="col-md-12">
                        {{ form.non_field_errors }}
							<form id="form" method='post' class="form-horizontal">
                            {% csrf_token %}
								<section class="panel">
									<header class="panel-heading">
										<h2 class="panel-title">Inserisci fattura generica</h2>
									</header>
									<div class="panel-body">
										<div class="form-group">
											<label class="col-sm-3 control-label">Causale <span class="required">*</span></label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="{{ form.desc.name }}" 
                                                id="{{ form.desc.id_for_label }}" placeholder="es. vendita cibo" required/>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Importo <span class="required">*</span></label>
											<div class="col-sm-9">
												<div class="input-group">
													<input type="number" class="form-control" name="{{ form.amount.name }}" id="{{ form.amount.id_for_label }}" placeholder="es. 1500" required/>
												</div>
											</div>
										</div>

									</div>
									<footer class="panel-footer">
										<div class="row">
											<div class="col-sm-9 col-sm-offset-3">
												<button type='submit' value='Inserisci' class="btn btn-primary">Inserisci</button>
												<button type="reset" class="btn btn-default">Reset</button>
											</div>
										</div>
									</footer>
								</section>
							</form>
						</div>
						</div>
				</section>
{% endblock %}