{% extends 'front/base.html' %}
{% load static %}
<form method="post">
    {% csrf_token %}
    {{ form_portiere.non_form_errors }}
    {{ form_difensori.non_form_errors }}
    {{ form_centrocampisti.non_form_errors }}
    {{ form_attaccanti.non_form_errors }}

    {{ form_portiere.as_p }}
    {{ form_difensori.as_p }}
    {{ form_centrocampisti.as_p }}
    {{ form_attaccanti.as_p }}

    <input type="submit" value="Test!">
</form>
{% block content %}
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Seleziona Formazione Titolare</h2>
    </header>
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">   
                        <h2 class="panel-title">Seleziona titolari <strong>{{ modulo }}</strong></h2>
                    </header>
                    <div class="panel-body">
                        <p class="center">Seleziona accuratamente la formazione titolare. Non sono ammessi giocatori duplicati o mancanti</p>
                        <form class="form-horizontal form-bordered"
                              action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="text-danger center">{{ form_portiere.non_form_errors }}</div>
                                <label class="col-md-3 control-label" for="inputDefault" required>Portiere</label>
                                <div class="col-md-6 center">
                                    {{ form_portiere.management_form }}
                                   {% for form in form_portiere %}
                                   {{ form.giocatore }}
                                   {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="text-danger center">{{ form_difensori.non_form_errors }}</div>
                                <label class="col-md-3 control-label" for="inputDefault" required>Difensori</label>
                                <div class="col-md-6 center">
                                    {{ form_difensori.management_form }}
                                   {% for form in form_difensori %}
                                   {{ form.giocatore }}
                                   {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="text-danger center">{{ form_centrocampisti.non_form_errors }}</div>
                                <label class="col-md-3 control-label" for="inputDefault" required>Centrocampisti</label>
                                <div class="col-md-6 center">
                                    {{ form_centrocampisti.management_form }}
                                   {% for form in form_centrocampisti %}
                                   {{ form.giocatore }}
                                   {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="text-danger center">{{ form_attaccanti.non_form_errors }}</div>
                                <label class="col-md-3 control-label" for="inputDefault" required>Attaccanti</label>
                                <div class="col-md-6 center">
                                    {{ form_attaccanti.management_form }}
                                   {% for form in form_attaccanti %}
                                   {{ form.giocatore }}
                                   {% endfor %}
                                </div>
                            </div>
        
                        
                    </div>
                    <footer class="panel-footer center">
                        <input type="submit" id="submit" value="Inserisci titolari" class="btn btn-primary"></button>
                    </footer>
                </form>
                </section>
</section>

{% endblock %}
