{% block header %}
{% load static %}
<head>
  <title>Biaset &mdash; Always on your side</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'sc-assets/fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'sc-assets/css/bootstrap/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'sc-assets/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'sc-assets/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'sc-assets/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'sc-assets/css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'sc-assets/css/jquery.fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'sc-assets/css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'sc-assets/fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'sc-assets/css/aos.css' %}">

  <link rel="stylesheet" href="{% static 'sc-assets/css/style.css' %}">



</head>
<body>

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4" role="banner">

      <div class="container">
        <div class="d-flex align-items-center">
          <div class="site-logo">
            <a href="index.html">
              <img src="{% static 'sc-assets/images/logo.png' %}" alt="Logo">
            </a>
          </div>
          <div class="ml-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li {% if page == 'index' %}class="active"{% endif %}><a href="{% url 'index' %}" class="nav-link">Home</a></li>
                <li {% if page == 'regolamento' %}class="active"{% endif %}><a href="{% url 'regolamento' %}" class="nav-link">Regolamento</a></li>
              </ul>
            </nav>

            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
                class="icon-menu h3 text-white"></span></a>
          </div>
        </div>
      </div>
    </header>


{% endblock %}